/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/**Mie regole css**/
.center {
	margin-left: auto;
	margin-right: auto;
}

.big {
	width: 50%;
}

/**classe per la modellazione del campo descrizione**/
.desciption {
	margin-top: 10px;
	border-radius: 25px;
	border: 1px solid #3385ff;
	padding: 20px;
	height: 200px;
	width: 700px;
}

/**bordo blu della navBar**/
#bordoNavBar {
	border: 2px solid #3385ff;
}

/**codice per l'implementazione dei bottoni visibili ed invisibili all'utente
   a seconda di chi e' se registrato o non**/
.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.gwt-Hyperlink {
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #28A745;
	padding: 20px;
}

.campoNomeOggettoLabel{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;/**red**/
	padding: 20px;
}

.campoPrezzoVendita{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;/**blu**/
	padding: 20px;
	
}

.campoDataScadenza{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;/**giallo**/
	padding: 20px;
}

.campoCategoria{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;/**verde**/
	padding: 20px;
}

.campoVenditore{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;/**verde**/
	padding: 20px;
}

.campoMaxOfferta{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;
	padding: 20px;
}

.offerta{
	margin-top: 55px;
	margin-left: 40px;
}

.buttonSpace{
	margin-top: 5px;
}

.informationPanel{
	margin-right:500px;
	margin-left: 500px;
	margin-top:5px;
	width:60%;
}

.labelLayout{
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid #CCE5FF;
	padding: 20px;
}

.layoutDomandeRisposte{
	margin-top: 20px;
	border-radius: 10px;
	border: 2px solid #3385ff;
	padding: 15px;
}

